.demo-block {
  .source {
    font-size: 14px;
    > div {
      > div:not([class^='ti-'], :last-child) {
        margin-bottom: 20px;

        > div:not([class^='ti-'], :last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
}
