@include themes {
  .ti-time-picker {
    display: inline-block;
    width: 220px;
    height: 40px;
    user-select: none;
  }

  .ti-time-picker_panel {
    display: inline-flex;
    height: 210px;
    border-radius: map-get($defaultThemeMap, default-border-radius);
  }
  .ti-time-picker_panel--item {
    flex-grow: 1;
    height: 100%;
  }
}
