@use './mixins/mixins' as *;

@include themes {
  .ti-tip {
    position: absolute;
    right: 390px;
    bottom: 75px;
    width: 140px;
    height: 30px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), transparent);
  }

  .tip {
    position: absolute;
    top: 6px;
    left: 10px;
    display: flex;
    font-family: PingFang SC;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
  }

  .tip-content {
    position: absolute;
  }

  .name {
    width: 55px;
    margin-right: 7px;
  }

  .online {
    color: #00ffa7;
  }

  .offline {
    color: #ccc;
  }

  .tip-enter-active,
  .tip-leave-active {
    transition: top, opacity, 0.4s ease-in-out;
  }

  .tip-enter-from {
    top: 24px;
    opacity: 0;
  }

  .tip-leave-to {
    top: -12px;
    opacity: 0;
  }

  .arise-enter-active,
  .arise-leave-active {
    transition: right, opacity, 0.5s ease-in;
  }
  .arise-enter-from,
  .arise-leave-to {
    right: 300px;
    opacity: 0;
  }
}
