$theme-blue: (
        'blue':(
                colorPrimary: #409EFF,
                colorSuccess: #67C23A,
                colorWarn: #E6A23C,
                colorError: #F56C6C,
                colorInfo:#909399,

                shapeFillet:4px,
        )
);
