$theme-violet: (
        'violet':(
                primary: #8A2BE2,
                success: #4caf50,
                warning: #ff9800,
                danger: #e91e63,
                info:#000042,
                shapeFillet:8px,
        )
)
