@use '../mixins/mixins' as *;

$ti-loading_fontsize: 25px;
$ti-loading_linear--size: 0.5em;
@mixin ti-loading-types {
  @each $type in primary, success, warning, danger, info {
    @content ($type);
  }
}
@include themes {
  .ti-loading {
    @include ti-loading-types using ($type) {
      &.ti-loading_type--#{$type} {
        color: map-get($globalThemeMap, $type);
      }
    }
  }
  .ti-loading_genre--round {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    font-size: $ti-loading_fontsize;
    color: map-get($globalThemeMap, default);
    text-indent: -9999em;
    &::after {
      width: 1em;
      height: 1em;
      overflow: hidden;
      font-size: 0.5em;
      content: '';
      border-radius: 50%;
      transform: translateZ(0);
      animation: ti-loading_genre--round 1.8s infinite ease,
        ti-loading_genre-round 1.8s infinite ease;
    }
  }
  .ti-loading_genre--linear {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $ti-loading_linear--size;
    height: $ti-loading_linear--size;
    margin: -$ti-loading_linear--size * 1.5 $ti-loading_linear--size * 1.5
      $ti-loading_linear--size * 1.5;
    font-size: $ti-loading_fontsize;
    color: map-get($globalThemeMap, default);
    text-indent: -9999em;
    border-radius: 50%;
    transform: translateZ(0);
    animation: ti-loading_genre--line 1.8s infinite ease-in-out;
    animation-delay: -0.16s;
    animation-fill-mode: both;

    &::before,
    &::after {
      flex-shrink: 0;
      width: $ti-loading_linear--size;
      height: $ti-loading_linear--size;
      content: '';
      border-radius: 50%;
      animation: ti-loading_genre--line 1.8s infinite ease-in-out;
      animation-fill-mode: both;
    }

    &::before {
      margin-right: 2 * $ti-loading_linear--size;
      animation-delay: -0.32s;
    }
  }
}

@keyframes ti-loading_genre--round {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes ti-loading_genre-round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ti-loading_genre--line {
  0%,
  80%,
  100% {
    box-shadow: 0 1.5 * $ti-loading_linear--size 0 -1.1 * $ti-loading_linear--size;
  }
  40% {
    box-shadow: 0 1.5 * $ti-loading_linear--size 0 0;
  }
}
