@include themes {
  .ti-input {
    display: inline-block;

    .ti-input-inner {
      padding: 9px 16px;
      border: none;
      outline: none;
    }

    @include types(input) using($color) {
      background-color: mix($color, white, 10%);
      border: solid 1px $color;
      .ti-input-inner:focus {
        background-color: mix($color, white, 30%);
      }
    }
  }
}
