@use './mixins' as *;

@mixin sizes($component) {
  $default-height: map_get($defaultThemeMap, input-height-normal);

  @each $sizeName in large, normal, small, mini {
    //,
    //    .ti-input_icon--prefix,
    //    .ti-input_icon--suffix
    .ti-input--inner {
      height: $default-height;
      line-height: $default-height;
    }

    &.ti-#{$component}-size-#{$sizeName} {
      .ti-input--inner {
        @content (map_get($globalThemeMap, #{'input-height-'+$sizeName}), $sizeName);
      }
    }
  }
}
