@include theme {
    .ti-button {
        outline: none;
        border: none;
        display: inline-block;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;

        @include statusMixin(button) {
            background-color: $value;
            color: white;
        }
    }
}