@import "./theme/default";

$dt: map_get($theme-default, '');

@function tiv($key) {
  @if (map_has_key($globalTheme, $key)) {
    @return map-get($globalTheme, $key);
  } @else {
    @return map-get($dt, $key);
  }
}

@mixin generateThemeContent($name,$theme) {
  $globalTheme: $theme !global;
  $globalThemeName: $name !global;

  $colorPrimary: tiv(colorPrimary) !global;
  $colorPrimaryLight: mix(white, $colorPrimary, 85%) !global;
  $colorSuccess: tiv(colorSuccess) !global;
  $colorWarn: tiv(colorWarn) !global;
  $colorError: tiv(colorError) !global;
  $colorInfo: tiv(colorInfo) !global;
  $disabled: tiv(disabled) !global;
  $disabledLight: tiv(disabledLight) !global;
  $disabledDeep: tiv(disabledDeep) !global;
  $disabledText: tiv(disabledText) !global;
  $font: tiv(font) !global;
  $ibc: tiv(ibc) !global;
  $ibl: tiv(ibl) !global;
  $itc: tiv(itc) !global;
  $itl: tiv(itl) !global;
  $ihc: tiv(ihc) !global;
  $ipc: tiv(ipc) !global;
  $icc: tiv(icc) !global;
  $transitionFlexible: tiv(transitionFlexible) !global;
  $transition: tiv(transition) !global;
  $transition2: tiv(transition2) !global;
  $shapeFillet: tiv(shapeFillet) !global;
  $popperRadius: tiv(popperRadius) !global;
  $boxshadow: tiv(boxshadow) !global;
  $boxshadowColor: tiv(boxshadowColor) !global;

  @if (str_length($name)>0) {
    .theme-#{$name} {
      @content;
    }
  } @else {
    html {
      @content;
    }
  }
}

@mixin statusMixin($component) {
  @each $key in (Primary, Success, Warn, Error, Info) {

    $value: tiv(color#{$key}) !global;

    $name: to-lower-case($key) !global;
    &.ti-#{$component}-status-#{$name} {
      @content;
    }
  }
}

@mixin shapeMixin($component) {
  @each $key in (Fillet, Round, Square) {

    $value: tiv(shape#{$key}) !global;
    $name: to-lower-case($key) !global;

    &.ti-#{$component}-shape-#{$name} {
      @content;
    }
  }
}

@mixin sizeMixin($component) {
  @each $key in (Large, Normal, Mini) {

    $value: tiv(size#{$key}) !global;
    $name: to-lower-case($key) !global;

    &.ti-#{$component}-size-#{$name} {
      @content;
    }
  }
}

@mixin public-style {
  box-sizing: border-box;
  font-weight: 400;
  color: $itc;
  margin: 0;
  padding: 0;
}

@mixin transition {
  transition: all $transition 300ms;
}
