@import "./theme/default";
@import "./theme/blue";
@import "./theme/violet";

$themes: map_merge(map_merge($theme-default, $theme-blue), $theme-violet);
$defaultThemeMap: map_get($theme-default, '');
$globalThemeMap: $defaultThemeMap; // 先默认定义一个全局的 themeMap
@mixin themesUsingMap{
  @each $themeName, $themeMap in $themes {
    //@debug $themeName; // a
    //@debug $themeMap;
    $themeMap: map_merge($defaultThemeMap, $themeMap);
    $globalThemeMap: $themeMap !global;
    @if str_length($themeName) > 0 {
      .theme-#{$themeName} {
        @content($themeMap);
      }
    } @else {
      html {
        @content($themeMap);
      }
    }
  }
}

@mixin themes {
  @include themesUsingMap using ($themeMap) {
    @content;
  }
}

@mixin typesUsingType($component) {
  @each $type in default, primary, success, warning, error, info {
    &.ti-#{$component}--#{$type} {
      @content(map_get($globalThemeMap, $type), $type);
    }
  }
}

@mixin types($component) {
  @include typesUsingType($component) using ($color, $type) {
    @content($color);
  }
}
