@use '../theme/default'; // TODO: as * ?
@use '../theme/blue';
@use '../theme/violet';

$themes: map_merge(map_merge($theme-default, $theme-blue), $theme-violet);
$defaultThemeMap: map_get($theme-default, '');
$globalThemeMap: $defaultThemeMap; // 先默认定义一个全局的 themeMap
@mixin themesUsingMap {
  @each $themeName, $themeMap in $themes {
    $themeMap: map_merge($defaultThemeMap, $themeMap);
    $globalThemeMap: $themeMap !global;
    @if str_length($themeName) > 0 {
      .theme-#{$themeName} {
        @content ($themeMap);
      }
    } @else {
      @content ($themeMap);
    }
  }
}

@mixin themes {
  @include themesUsingMap using ($themeMap) {
    @content;
  }
}

@mixin typesUsingType($component) {
  @each $type in default, primary, success, warning, danger, info {
    &.ti-#{$component}-type-#{$type} {
      @content (map_get($globalThemeMap, $type), $type);
    }
  }
}

@mixin types($component) {
  @include typesUsingType($component) using ($color, $type) {
    @content ($color);
  }
}

@mixin modes($component, $color) {
  @each $mode in fill, plain, outline, text {
    &.ti-#{$component}-mode-#{$mode} {
      @content ($color, $mode);
    }
  }
}

@mixin shapes($component) {
  @each $shape in fillet, round, square, circle {
    &.ti-#{$component}-shape-#{$shape} {
      border-radius: map_get($globalThemeMap, $shape);
    }
    //@if $shape != circle {
    //  &.ti-#{$component}-shape-#{$shape} {
    //    border-radius: map_get($globalThemeMap, $shape);
    //  }
    //} @else {
    //  &.ti-#{$component}-shape-#{$shape} {
    //    border-radius: map_get($globalThemeMap, $shape);
    //  }
    //}
  }
}

@mixin sizes($component) {
  $default-padding: map_get($defaultThemeMap, normal);
  // 默认的 button 的padding
  padding: $default-padding $default-padding + 6px;
  // 默认的 button[shape=circle] 的padding
  &.ti-button-shape-circle {
    padding: $default-padding;
  }
  @each $size in large, normal, small, mini {
    &.ti-#{$component}-size-#{$size} {
      @content (map_get($globalThemeMap, $size), $size);
    }
  }
}
