@include themes {
  .ti-date-picker {
    display: inline-block;
  }

  .ti-date-picker_popper {
    box-sizing: border-box;
    display: inline-flex;
    padding-top: 10px;
    font-size: map-get($defaultThemeMap, fontsize);
    color: map-get($defaultThemeMap, default);
    user-select: none;
    background-color: #fff;
    border-radius: map-get($defaultThemeMap, default-border-radius);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  .ti-date-picker_td--body {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  .prev-month,
  .next-month,
  .prev-decade,
  .next-decade {
    color: #dadde7;
  }
}
