@include themes {
  .ti-date-picker {
    display: inline-block;
    width: 220px;
    height: 40px;
    user-select: none;
  }

  .ti-date-picker_popper {
    box-sizing: border-box;
    width: 300px;
    //height: 340px;
    padding-top: 10px;
    color: map-get($defaultThemeMap, default);
    border-radius: map-get($defaultThemeMap, default-border-radius);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  .ti-date-picker_td--body {
    width: 36px;
    height: 36px;
    cursor: pointer;
    border: 1px solid #eee;
    .current {
      color: map-get($defaultThemeMap, primary);
    }
  }

  .prev-month,
  .next-month,
  .prev-decade,
  .next-decade {
    color: #b4bbce;
  }
}
