$border-radius: 4px;
$border-color: #d9d9d9;

.ti-dialog {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  width: 520px;
  border-radius: $border-radius;
  background: #fff;
  box-shadow: 0 0 3px fade-out(black, 0.5);

  &-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: fade-out(#000, 0.5);
  }

  &-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  & &-header {
    padding: 12px 16px;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
  }
  & &-close {
    cursor: pointer;
    &:hover {
      color: map_get($defaultThemeMap, primary);
    }
  }

  & &-content {
    padding: 12px 16px;
  }

  & &-footer {
    border-top: 1px solid $border-color;
    padding: 12px 16px;
    text-align: right;

    .ti-dialog-footer-default-slot-button {
      & + .ti-dialog-footer-default-slot-button {
        margin-left: 8px;
      }
    }
  }

}
